<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Moderator</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/moderator.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">


</head>

<body>
<div class="container">
    <h6 id="users-left">Users left: </h6>
    <div>
        <div><a id="name" href=""></a><img id="avatar"
                                           src=""
                                           width="100">
            <h2>Posts</h2>
        </div>
    </div>
    <div>
        <div style="border-bottom-width: thick; border-color: black; border-style: solid;"><a id="post_link-0" href="#">
            <h6 id="post_header-0"></h6>
        </a>
            <p id="post_content-0">Content:<code><br><br><br></code></p><a
                    id="subreddit-0" href="#"></a>
        </div>
        <div style="border-bottom-width: thick; border-color: black; border-style: solid;"><a id="post_link-1" href="#">
            <h6 id="post_header-1"></h6>
        </a><a id="subreddit-1" href="#"></a>
            <p id="post_content-1">Content:<code><br><br><br></code></p>
        </div>
        <div style="border-bottom-width: thick; border-color: black; border-style: solid; "><a id="post_link-2"
                                                                                               href="#">
            <h6 id="post_header-2"></h6>
        </a><a id="subreddit-2" href="#"></a>
            <p id="post_content-2">Content:<code><br><br><br></code></p>
        </div>
        <div style="border-bottom-width: thick; border-color: black;border-style: solid; "><a id="post_link-3" href="#">
            <h6 id="post_header-3"></h6>
        </a><a id="subreddit-3" href="#"></a>
            <p id="post_content-3">Content:<code><br><br><br></code></p>
        </div>
        <div style="border-bottom-width: thick; border-color: black;border-style: solid; "><a id="post_link-4" href="#">
            <h6 id="post_header-4"></h6>
        </a><a id="subreddit-4" href="#"></a>
            <p id="post_content-4">Content:<code><br><br><br></code></p>
        </div>
    </div>
</div>
<div class="container">
    <h3>Details</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h6 id="comment_karma" style="width: 200px;"></h6>
        </div>
        <div class="col-md-4">
            <h6 id="total_karma" style="margin: 0px,0px,0px;width: 200px;"></h6>
        </div>
        <div class="col-md-4">
            <h6 id="created" style="width: 300px;"></h6>
        </div>
    </div>
</div>
<div class="container">
    <button class="btn btn-primary" onclick="deny()" id="deny" type="button" style="text-align: left;margin-top: 10px;">
        Deny
    </button>
    <button class="btn btn-primary" onclick="approve()" id="accept" type="button"
            style="text-align: justify;margin-top: 10px;">Approve
    </button>
</div>
<script>
    var serverWebsocket = new WebSocket("{{web_socket_url| safe}}?moderator={{mod_key}}", ["protocolOne", "protocolTwo"]);

    function approve() {
        let name = document.getElementById("name").innerText;
        var deny = {"type": "approve", "user": name, "moderator": "{{moderator}}"}
        serverWebsocket.send(JSON.stringify(deny))
        update_user()
    }

    function deny() {
        let name = document.getElementById("name").innerText;
        var deny = {"type": "deny", "user": name, "moderator": "{{moderator}}"}
        serverWebsocket.send(JSON.stringify(deny))
        update_user()

    }

    function update_user() {
        var firstUser = {"type": "user"}
        serverWebsocket.send(JSON.stringify(firstUser))
    }

    serverWebsocket.onopen = function (event) {

        update_user()
    };
    serverWebsocket.onerror = function (event) {
        alert("Unable to connect to websocket")
        console.log("Error: ", event)
    }

    serverWebsocket.onclose = function (event) {
        alert("Connection Closed")
    }
    serverWebsocket.onmessage = function (event) {
        const msg = JSON.parse(event.data);
        if (msg.type === "user") {
            document.getElementById("users-left").innerText = "Users left: " + msg.usersleft;
            const user = msg.data;
            let elementById = document.getElementById("name");
            elementById.innerText = user.name
            elementById.href = "https://reddit.com/u/" + user.name
            document.getElementById("avatar").src = user.avatar
            document.getElementById("comment_karma").innerText = "Comment Karma: " + user.commentKarma
            document.getElementById("total_karma").innerText = "Total Karma: " + user.total_karma
            let date = new Date(0);
            date.setUTCSeconds(user.created);
            document.getElementById("created").innerText = "Created On: " + date.toLocaleDateString("en-US");
            for (let i = 0; i < 5; i++) {
                if (i >= user.topFivePosts.length) {
                    document.getElementById("post_link-" + i).href = ""
                    document.getElementById("post_header-" + i).innerText = ""
                    document.getElementById("post_content-" + i).innerText = ""
                    document.getElementById("subreddit-" + i).innerText = ""
                }
                let post = user.topFivePosts[i];
                document.getElementById("post_link-" + i).href = post.url
                document.getElementById("post_header-" + i).innerText = post.title
                document.getElementById("post_content-" + i).innerText = post.content
                document.getElementById("subreddit-" + i).innerText = post.subreddit

            }
        } else if (msg.type === "error") {
            alert(msg.error);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>

</body>

</html>