<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>RedditNobility</title>
    <meta property="og:image" content="https://redditnobility.org/assets/img/TuxCrown.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href='{{url(path="css/Login-Form-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/styles.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Grid.css")}}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<!-- Start: Login Form Clean -->
<section class="login-clean">
    <form id="form" action='{{url(path="login/post")}}' enctype="application/x-www-form-urlencoded"  method="post">
        <p style="font-size: 15px;">No Password? Leave the value blank and you will be sent a login link via a Reddit
            Direct Message.</p>
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><img src={{url(path="TuxCrown.png")}} style="width: 190px;"></div>
        <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>
        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100 g-recaptcha" data-sitekey="{{recaptcha_pub}}"
                    data-callback='onSubmit'
                    data-action='submit' type="submit">Log In
            </button>
        </div>
    </form>
</section><!-- End: Login Form Clean -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("form").submit();
    }
</script>

</body>

</html>