<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RedditNobility</title>
    <meta property="og:image" content="https://redditnobility.org/assets/img/TuxCrown.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href='{{url(path="css/Login-Form-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/styles.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Grid.css")}}'>
<link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <h6>Users left: 5000</h6>
    <div class="container">
        <div>
            <div><a id="name" href="https://reddit.com/u/KingTux">KingTuxWH</a><img id="avatar" src="https://i.redd.it/snoovatar/snoovatars/bf3a69f9-02ef-4670-9ef1-71f1d31236f3.png" width="100">
                <h2>Posts</h2>
            </div>
        </div>
        <div>
            <div><a id="post_link-0" href="#">
                    <h6 id="post_one_header">Type: Comment</h6>
                </a>
                <p id="post_content-0">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p><a id="subreddit-0" href="#">r/dankmemes</a>
            </div>
            <div><a id="post_link-1" href="#">
                    <h6 id="post_header-1">Type: Comment</h6>
                </a><a id="subreddit-1" href="#">r/dankmemes</a>
                <p id="post_content-1">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
            </div>
            <div><a id="post_link-2" href="#">
                    <h6 id="post_header-2">Type: Comment</h6>
                </a><a id="subreddit-2" href="#">r/dankmemes</a>
                <p id="post_content-2">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
            </div>
            <div><a id="post_link-3" href="#">
                    <h6 id="post_header-3">Type: Comment</h6>
                </a><a id="subreddit-3" href="#">r/dankmemes</a>
                <p id="post_content-3">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
            </div>
            <div><a id="post_link-4" href="#">
                    <h6 id="post_header-4">Type: Comment</h6>
                </a><a id="subreddit-4" href="#">r/dankmemes</a>
                <p id="post_content-4">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Details</h3>
    </div><!-- Start: 1 Row 3 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 id="comment_karma" style="width: 200px;">Comment Karma: 2146</h6>
            </div>
            <div class="col-md-4">
                <h6 id="total_karma" style="margin: 0px,0px,0px;width: 200px;">TotalKarma: 7395</h6>
            </div>
            <div class="col-md-4">
                <h6 id="created" style="width: 300px;">Created: Wednesday, April 10, 2019 8:06:52 AM</h6>
            </div>
        </div>
    </div><!-- End: 1 Row 3 Columns -->
    <div class="container"><button class="btn btn-primary" id="deny" type="button" style="text-align: left;margin-top: 10px;">Deny</button><button class="btn btn-primary" id="accept" type="button" style="text-align: justify;margin-top: 10px;">Approve</button></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>

</html>