<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RedditNobility</title>
    <meta property="og:image" content="https://redditnobility.org/assets/img/TuxCrown.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href='{{url(path="css/Login-Form-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/styles.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Grid.css")}}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <div>
        <div><a id="name" href="https://reddit.com/u/KingTux">KingTuxWH</a><img id="avatar"
                                                                                src="https://i.redd.it/snoovatar/snoovatars/bf3a69f9-02ef-4670-9ef1-71f1d31236f3.png"
                                                                                width="100">
            <h2>Posts</h2>
        </div>
    </div>
    <div>
        <div><a id="post_link-0" href="#">
            <h6 id="post_header-0">Type: Comment</h6>
        </a>
            <p id="post_content-0">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p><a
                    id="subreddit-0" href="#">r/dankmemes</a>
        </div>
        <div><a id="post_link-1" href="#">
            <h6 id="post_header-1">Type: Comment</h6>
        </a><a id="subreddit-1" href="#">r/dankmemes</a>
            <p id="post_content-1">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
        </div>
        <div><a id="post_link-2" href="#">
            <h6 id="post_header-2">Type: Comment</h6>
        </a><a id="subreddit-2" href="#">r/dankmemes</a>
            <p id="post_content-2">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
        </div>
        <div><a id="post_link-3" href="#">
            <h6 id="post_header-3">Type: Comment</h6>
        </a><a id="subreddit-3" href="#">r/dankmemes</a>
            <p id="post_content-3">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
        </div>
        <div><a id="post_link-4" href="#">
            <h6 id="post_header-4">Type: Comment</h6>
        </a><a id="subreddit-4" href="#">r/dankmemes</a>
            <p id="post_content-4">Content:<code><br>I think the format was funnier than the joke.<br><br></code></p>
        </div>
    </div>
</div>
<div class="container">
    <h3>Details</h3>
</div><!-- Start: 1 Row 3 Columns -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h6 id="comment_karma" style="width: 200px;">Comment Karma: 2146</h6>
        </div>
        <div class="col-md-4">
            <h6 id="total_karma" style="margin: 0px,0px,0px;width: 200px;">TotalKarma: 7395</h6>
        </div>
        <div class="col-md-4">
            <h6 id="created" style="width: 300px;">Created: Wednesday, April 10, 2019 8:06:52 AM</h6>
        </div>
    </div>
</div><!-- End: 1 Row 3 Columns -->
<div class="container">
    <button class="btn btn-primary" id="deny" onclick="deny()" type="button" style="text-align: left;margin-top: 10px;">
        Deny
    </button>
    <button class="btn btn-primary" id="accept" onclick="approve()" type="button"
            style="text-align: justify;margin-top: 10px;">Approve
    </button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script>
    const user = "{{user}}"
    const url = "{{url(path='api/moderator/review/')|safe}}";
    const status = "{{url(path='api/moderator/change/status')|safe}}";
    const home = "{{url(path='moderator')|safe}}";
    const auth_token = getCookie("auth_token");

    let username;

    function approve() {
        fetch(status, {
            method: "POST",
            body: "username=" + username + "&status=Approved",
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "Authorization": "Bearer " + auth_token
            }
        }).then(response => response.json())
            .then(msg => {
                if (msg.success == true) {
                    if (user == "next") {
                        update_user()
                    } else {
                        window.location.href = home;
                    }
                } else {
                    alert("Unable to pull up user");
                }
            }).catch(err => console.log(err));
    }

    function deny() {
        fetch(status, {
            method: "POST",
            body: "username=" + username + "&status=Denied",
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "Authorization": "Bearer " + auth_token
            }
        }).then(response => response.json())
            .then(msg => {
                if (msg.success == true) {
                    if (user == "next") {
                        update_user()
                    } else {
                        window.location.href = home;
                    }
                } else {
                    alert("Unable to pull up user");
                }
            }).catch(err => console.log(err));
    }


    function update_user() {
        fetch(url + "{{user}}", {
            method: "GET",
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "Authorization": "Bearer " + auth_token
            }
        }).then(response => response.json())
            .then(msg => {
                if (msg.success == true) {
                    const user = msg.data;
                    let elementById = document.getElementById("name");
                    elementById.innerText = user.name
                    username = user.name;
                    elementById.href = "https://reddit.com/u/" + user.name
                    document.getElementById("avatar").src = user.avatar
                    document.getElementById("comment_karma").innerText = "Comment Karma: " + user.commentKarma
                    document.getElementById("total_karma").innerText = "Total Karma: " + user.total_karma
                    let date = new Date(0);
                    date.setUTCSeconds(user.created);
                    document.getElementById("created").innerText = "Created On: " + date.toLocaleDateString("en-US");
                    for (let i = 0; i < 5; i++) {
                        if (i >= user.topFivePosts.length) {
                            document.getElementById("post_link-" + i).href = ""
                            document.getElementById("post_header-" + i).innerText = ""
                            document.getElementById("post_content-" + i).innerText = ""
                            document.getElementById("subreddit-" + i).innerText = ""
                            continue;
                        }
                        let post = user.topFivePosts[i];
                        console.log(post.url)
                        document.getElementById("post_link-" + i).href = post.url
                        document.getElementById("post_header-" + i).innerText = post.title
                        document.getElementById("post_content-" + i).innerText = post.content
                        document.getElementById("subreddit-" + i).innerText = post.subreddit

                    }
                } else {
                    alert("Unable to pull up user");
                }
            })
            .catch(err => console.log(err));
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    update_user();
</script>
</body>

</html>