<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Sign Up</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/index.css"/>

</head>

<body>


<div class="login-area">

    <a href="/"><img src="static/TuxCrown.png" alt="KingTux"></a>

    <h2>Name yourself</h2>

    <h5>Submit your username here</h5>
    {% if success %}
    <div hidden id="success" class="success">Username added!</div>
    {% endif %}
    {% if already_exists %}
    <div class="error">Username already exists!</div>
    {% endif %}

    <label for="submit_username">Username</label><br/>

    <input type="text" name="username" autofocus id="submit_username">

    <br/><br/><br/>

    <button onclick="submit()" type="submit">Submit</button>

    <br/><br/>

</div>
<script src=`{{url(path="node_modules/ajax/lib/ajax.js")}}`></script>

<script>
    const auth_token = getCookie("auth_token");

    function submit() {
        let elementById = document.getElementById("submit_username");
        let value = elementById.value;
        fetch('{{url(path="/api/user/submit")}}', {
            method: "POST",
            body: "username=" + data,
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "Authorization": "Bearer" + auth_token
            }
        }).then(response => response.json())
            .then(msg => {
                if (msg.success == true) {
                    let success = document.getElementById("success");
                    success.hidden = false;
                    success.value = value + " has been submitted";
                } else {
                    window.alert("Unable to submit user")
                }
            })
            .catch(err => console.log(err));

    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
</body>

</html>