<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RedditNobility</title>
    <meta property="og:image" content="https://redditnobility.org/assets/img/TuxCrown.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href='{{url(path="css/Login-Form-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/styles.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Grid.css")}}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="{{url(path='')}}">RedditNobility</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item"><a class="nav-link active" href="{{url(path='submit')}}">Submit</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Welcome, {{user.username}}</a>
                    <div class="dropdown-menu">
                        {% if user.level == "Moderator" or user.level == "Admin" %}
                        <a class="dropdown-item" href="{{url(path='moderator')}}">Moderator Panel</a>
                        {% endif%}
                        <a class="dropdown-item" href="{{url(path='me')}}">Profile</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link active" href="{{url(path='login')}}">Login</a></li>
                {% endif%}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="alert alert-success" id="success" hidden role="alert">
        <span><strong id="success-text">KingTuxWH has been suggested!</strong><br></span></div>
    <div class="alert alert-warning" id="warn" hidden role="alert"><span><strong id="warn-text">KingTuxWH has been suggested!</strong><br></span>
    </div>
    <!-- Start: Login Form Clean -->
    <section class="login-clean">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><img src={{url(path="TuxCrown.png")}} style="width: 190px;"></div>
        <div class="mb-3"><input class="form-control" type="text" id="username" name="username"
                                 placeholder="Username"></div>
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" onclick="submit()" type="submit">Submit</button>
        </div>
    </section><!-- End: Login Form Clean -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script>
    const auth_token = getCookie("auth_token");
    const url = "{{url(path='api/submit/user')|safe}}";

    function submit() {
        let success = document.getElementById("success");
        success.hidden = true;
        let warn = document.getElementById("warn");
        warn.hidden = true;
        let elementById = document.getElementById("username");
        let value = elementById.value;
        fetch(url, {
            method: "POST",
            body: "username=" + value,
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "Authorization": "Bearer " + auth_token
            }
        }).then(response => response.json())
            .then(msg => {
                if (msg.success == true) {
                    console.log(msg.data);
                    if (msg.data == "ALREADY_ADDED") {
                        warn.hidden = false;
                        let successtext = document.getElementById("warn-text");
                        successtext.innerHTML = value + " has already been submitted";
                    } else if (msg.data == "NOT_FOUND") {
                        warn.hidden = false;
                        let successtext = document.getElementById("warn-text");
                        successtext.innerHTML = value + " was unable to be validated by the Reddit API";
                    } else {

                        success.hidden = false;
                        let successtext = document.getElementById("success-text");
                        successtext.innerHTML = value + " has been submitted";
                    }
                } else {
                    warn.hidden = false;
                    let successtext = document.getElementById("warn-text");

                    successtext.innerHTML = value + " was unable to be submitted";
                }
            })
            .catch(err => console.log(err));

    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
</body>

</html>