<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RedditNobility</title>
    <meta property="og:image" content="https://redditnobility.org/assets/img/TuxCrown.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href='{{url(path="css/Login-Form-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/styles.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Clean.css")}}'>
    <link rel="stylesheet" href='{{url(path="css/Team-Grid.css")}}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">RedditNobility</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                {% if user %}
                <li class="nav-item"><a class="nav-link active" href="{{url(path='submit')}}">Submit</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Welcome, {{user.username}}</a>
                    <div class="dropdown-menu">
                        {% if user.level == "Moderator" or user.level == "Admin" %}
                        <a class="dropdown-item" href="{{url(path='moderator')}}">Moderator Panel</a>
                        {% endif%}
                        <a class="dropdown-item" href="{{url(path='me')}}">Profile</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link active" href="#">Login</a></li>
                {% endif%}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="width: 468px;">{{user.username}}'s Profile</h1>
        </div>
        <div class="col-md-6"><img src="{{avatar}}"
                                   style="width: 61px;"></div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Custom Avatar</h4><input id="avatar" placeholder="Enter a custom URL" type="url">
        </div>
        <div class="col">
            <h4>User Level</h4>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" value="{{user.level}}" id="level"
                        data-bs-toggle="dropdown"
                        type="button">{{user.level}}
                </button>

                <div class="dropdown-menu">
                    {% if level == "Admin" %}
                    <a class="dropdown-item" onclick="setLevel('User')" href="#">User</a>
                    <a class="dropdown-item" onclick="setLevel('Moderator')" href="#">Moderator</a>
                    <a class="dropdown-item" onclick="setLevel('Admin')" href="#">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <h4>User Status</h4>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" aria-expanded="false" value="{{user.status}}"
                        id="status" data-bs-toggle="dropdown"
                        type="button">{{user.status}}
                </button>
                <div class="dropdown-menu">
                    {% if level == "Moderator" or level =="Admin" %}

                    <a class="dropdown-item" onclick="setStatus('Approved')" href="#">Approved</a>
                    <a class="dropdown-item" onclick="setStatus('Denied')" href="#">Denied</a><a
                        class="dropdown-item" onclick="setStatus('Banned')" href="#">Banned</a>
                    <a class="dropdown-item" onclick="setStatus('Found')" href="#">Found</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h4>Update User</h4>
            <button class="btn btn-primary" onclick="updateUser()" type="button">Update</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Properties</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Discoverer</td>
                        <td>{{user.discoverer}}</td>
                    </tr>
                    <tr>
                        <td>Discord Member</td>
                        <td>UNKOWN</td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td>{{created}}</td>
                    </tr>
                    <tr>
                        <td>Status Changed</td>
                        <td>{{status_changed }}</td>
                    </tr>
                    <tr>
                        <td>Moderator</td>
                        <td>{{user.moderator}}</td>
                    </tr>
                    <tr>
                        <td>Qualifying Title</td>
                        <td>{{user.properties.title | upper}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- End: 1 Row 2 Columns -->
<footer>
    <p>Keys: OG = user was created upon database creation</p>
</footer>
<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" data-bs-toggle="collapse"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
{% if level == "Admin" %}

<script>
    let newLevel;
    const level_url = "{{url(path='api/admin/change/level')|safe}}";

    function setLevel(level) {
        newLevel = level;
        let levelE = document.getElementById("level");
        levelE.innerText = newLevel;
    }
</script>
{% endif %}

{% if level == "Moderator" or level =="Admin" %}

<script>

    let newStatus;
    const status_url = "{{url(path='api/moderator/change/status')|safe}}";

    function setStatus(status) {
        newStatus = status;
        let statusE = document.getElementById("status");
        statusE.innerText = status;
    }

</script>
{% endif %}
<script>
    const property = "{{url(path='api/change/user')|safe}}";
    const auth_token = getCookie("auth_token");
    const username = "{{user.username}}";

    function updateUser() {
        if (typeof newStatus !== 'undefined') {
            fetch(status_url, {
                method: "POST",
                body: "username=" + username + "&status=" + newStatus,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                    "Authorization": "Bearer " + auth_token
                }
            }).then(response => response.json())
                .then(msg => {
                    if (msg.success == true) {
                    } else {
                        alert("Failed to update status.");
                    }
                })
                .catch(err => console.log(err));
        }
        if (typeof newLevel !== 'undefined') {
            fetch(level_url, {
                method: "POST",
                body: "username=" + username + "&level=" + newLevel,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                    "Authorization": "Bearer " + auth_token
                }
            }).then(response => response.json())
                .then(msg => {
                    if (msg.success == true) {
                    } else {
                        alert("Failed to update level.");
                    }
                })
                .catch(err => console.log(err));
        }
        let avatar = document.getElementById("avatar");
        let value = avatar.value;
        console.log(value)
        if (value.length != 0) {
            fetch(property, {
                method: "POST",
                body: "username=" + username + "&property=avatar&value=" + value,
                headers: {
                    "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                    "Authorization": "Bearer " + auth_token
                }
            }).then(response => response.json())
                .then(msg => {
                    if (msg.success == true) {
                    } else {
                        alert("Failed to update avatar.");
                    }
                })
                .catch(err => console.log(err));
        }


    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>

</body>

</html>